<IfModule mod_rewrite.c>
    RewriteEngine On

    # Send all requests to the public folder (Laravel front controller)
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<IfModule mod_dir.c>
    DirectoryIndex index.php
</IfModule>
